<link rel="stylesheet" href="~/css/Index.css" />
<link rel="stylesheet" href="~/css/site.css" />
<body>
    <div class="ProfileStatus">
    <table>
        <tbody>
            <tr>
                <td>
                    <img class="Samurai" alt="Samurai" src="~/images/Samurai.jpeg" />
                </td>
                <td>
                    Your Profile Name Here <a id="Follow" href="">Follow</a>
                    <br />
                    <b>6</b> Posts <b>No</b> Followers <b>0</b> Following
                    <br />
                    This is a example description
                    <br />
                </td>
                </tr>
          
           </tbody>
        </table>
  </div>
    <div class="Favorites">
        <table>
            <tbody>
                <tr>
                    <td id="WildStyle">
                        <img class="Wild" alt="Wild" src="~/images/Wild.jpeg" />
                        <div>My Favorite Image</div>
                    </td>
                    
                    <td>
                        <img class="style" alt="style" src="~/images/style.jpeg" />
                        <div>My Favorite Image</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="UserLinks">
        <a href="https://google.com/" target="_Blank">POSTS</a>
        <a href="https://youtube.com/" target="_Blank">REELS</a>
        <a href="123" target="_Blank">IGTV</a>
        <a href="1234" target="_Blank">TAGGED</a>
    </nav>

    <div id="ProfileImages">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="Bike1">
                            <img alt="Bike" src="~/images/BanksyBike.jpeg" />
                            <div class="Bike2">
                               <img class="Thumb" alt="Thumb" src="~/images/Thumbs.png"/> 5.7M
                               <img class="Comment" alt="Comment" src="~/images/Comment.png" />37.2k
                            </div>
                        </div>
                    </td>
                    <td>
                        <img alt="Likes" src="~/images/Banksylikes.jpeg" />
                    </td>
                    <td>
                        <img alt="Robo" src="~/images/Banksyrobo.jpeg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img alt="Search" src="~/images/Banksysearch.jpeg" />
                    </td>
                    <td>
                        <img alt="Throw" src="~/images/BanksyThrow.jpeg" />
                    </td>
                    <td>
                        <video controls>
                            <source src="~/Videos/Video.mp4" type="video/mp4" />
                        </video>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<table>
    <tbody>
        <tr>
            <td>
                <div class="Logbar">
                    Log In to My Gram
                    <a id="LogButton" href="">Log In</a>
                    <br />
                    Log In to see photos and videos from friends and discover other accounts you'll love.
                    <a id="LogLink" href="~/Home/Register">Sign Up</a>
                </div>
            </td>
   

        </tr>
    </tbody>
</table>