@{
    ViewData["Title"] = "My Gram";
}
<body>
   <table>
       <tbody>
           <tr>
               <td>
                   <img alt="Samurai" src="~/images/Samurai.jpeg" />
               </td>
               <td>
                   Your Profile Name Here <button>Follow</button>
                   <br />
                   6 Posts No Followers 0 Following
                   <br />
                   This is a example description
                   <br />
               </td>
           </tr>
       </tbody>
   </table>

    <nav>
        <a href="https://google.com/" target="_Blank">POSTS</a>
        <a href="https://youtube.com/" target="_Blank">REELS</a>
        <a href="123" target="_Blank">IGTV</a>
        <a href="1234" target="_Blank">TAGGED</a>
    </nav>

    <style>
        img {
            width: 150px;
            height: 150px;
        }
        video {
            width: 150px;
            height: 150px;
        }
    </style>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img alt="Bike" src="~/images/BanksyBike.jpeg" />
                    </td>
                    <td>
                        <img alt="Likes" src="~/images/Banksylikes.jpeg" />
                    </td>
                    <td>
                        <img alt="Robo" src="~/images/Banksyrobo.jpeg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img alt="Search" src="~/images/Banksysearch.jpeg" />
                    </td>
                    <td>
                        <img alt="Throw" src="~/images/BanksyThrow.jpeg" />
                    </td>
                    <td>
                        <video controls >
                            <source src="~/Videos/Video.mp4" type="video/mp4"/>
                        </video>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
