<form action="~/Home/RegisterUser" method="post">
    <fieldset>
        <legend>User information</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName"> User Name</label>
                    </td>
                    <td>
                        <input id="UserName" type="text"
                               size="30" maxlength="30"
                               name="UserName"
                               placeholder="Add your User Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Password">Password</label>
                    </td>
                    <td>
                        <input id="Password" type="password"
                               size="30" maxlength="30"
                               name="Password"
                               placeholder="Add your Password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" />

                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
