img {
    width: 150px;
    height: 150px;
}

body {
    background-color: #fafafa;
}

.Samurai {
    border-radius: 100px !important;
    border-color: white !important;
}

.Favorites {
    margin-left: 145px !important;
   
}


#WildStyle div {
    margin-right:15px!important
}

.Wild {
    width: 70px;
    height: 70px;
    border-radius: 35px!important;
    margin-left:30px!important;
}

.style {
    width: 70px;
    height: 70px;
    border-radius: 35px !important;
    margin-left: 30px !important;
}

video {
    width: 150px;
    height: 150px;
}
#Follow {
    background-color: dodgerblue;
    color: white !important;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 4px 8px 4px 8px
}

  #Follow:hover {
        background-color: royalblue;
        text-decoration: none;
    }

nav a {
    color: grey !important;
}
nav a:hover {
    color: black !important;
    text-decoration: none;
}

nav a {
    margin-right: 25px;
}

.UserLinks {
    text-align: center;
}

    .ProfileStatus {
        
        margin-left: 350px;
    }

    #ProfileImages {

       margin-left: 29%;
    }

    